@model Pages.Models.FilmsModal
    <div class="bg-info center">
        <h1 class="alert-danger">
            @Model.Title
        </h1>
        <p>
            @Model.Description
        </p>
        <time>
            @Model.Duration Min
        </time>
    </div>